.top .breadcrumb{background-color: #666666;
background-image:url(logo.png);
background-position: inherit;
background-repeat:no-repeat;
}
.style3 {color: #FFFFFF; font-size: 24px; margin-top:15px; font-weight:bold; margin-top:20px; text-align:right;
}

.index .style1 {color: #FFFFFF; font-size: 24px; margin-top:15px; font-weight: bold; margin-top:20px;
}
.index .well{  height:230px; margin-top:15px;
}
.index .container{ margin-top:60px; padding:35px; 
text-align:center;
}
 

.style2 {color: #0099FF; font-size:20px; margin-top:15px; font-weight:bold;
}
.btn btn-primary{ background-color:0099FF;}
.middle .container{ width:350px; margin-top:60px; padding:15px; 
text-align:center;
}
.middle .well{ padding:50px;}

.report .container{width:350px; margin-left:20px;}
.welcome .container{
width:700px;

text-align: center ;
}

.welcome1 .container1{
width:500px;

text-align: center ;
}

.welcome2 .container2{ 
width:650px;

text-align:justify;
}
 .welcome .panel-body{
width:800px; height: auto; padding-left:100px; padding-right:35px; padding-bottom:35px; padding-top:35px; 
}

.welcome1 .panel-body1{
width:800px; height:1600px; padding-left:35px; padding-right:35px; padding-bottom:35px; padding-top:35px; 
}
.welcome2 .panel-body2{
width:800px; height:1600px; padding-left:35px; padding-right:35px; padding-bottom:35px; padding-top:35px; 
}


.register .container{
width:1000px;

text-align: center ;
}
 .register .row-fluid{
width:300px;
}
.navbar-brand { text-align:right;
}
.well{ height:325px;
}
h4{color: #0099FF; font-size: 15px; margin-top:15px; font-weight:bold; text-align: right;}
.navbar-brand { text-align:right;
}
.welcome .input-group-addon{ width:150px; }
.welcome .input-group{ width:500px;}

.welcome1 .input-group-addon{ width:150px; }
.welcome1 .input-group{ width:400px;}

.welcome2 .input-group-addon{ width:150px; }
.welcome2 .input-group{ width:500px;}

.footer{ margin-top: auto; text-align:center;}
.table table-bordered{ width:1000px;}
.thank .container{ margin-top:60px; padding:35px; 
text-align:center;
}

.error {
    background:#FBE6F2 none repeat scroll 0 0;
    border:1px solid #D893A1;
    color:#333333;
    margin:10px 0 5px;
    padding:10px;
}

.form-inline{ padding:50px; margin-bottom:150px;}
.table .container .panel-body{width: auto   }
.table .container{
width: 1000px;
}

.error_msg{
color: #CC0000;
font-size: 13px;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 500px;
text-align: center;
}
