body {
	font-family:tahoma;
	padding:0px;
	margin:0px;
	background:#f5f5f5
}

div.content {
	padding:10px 20px; margin-left:150px;
	}
div.content h1 {
	font-size:18pt;
	border-bottom:5px solid #0099FF;
	padding:0px;
	margin:10px 0px 20px;
	width:80%;
}

div.content div.data table {
	
	background:#fff;
	width:80%;
}
div.content div.data table td {
	font-size: 16px ; font-family: Arial, Helvetica, sans-serif;
	padding:5px 10px;
	border-bottom:1px solid #ddd;
	text-align: left; 
}
div.content div.data table th {
	text-align: left;
	font-size: 8pt;
	padding: 10px 10px 7px;
	text-transform: uppercase;
	color: #fff;
	background: #666666;
}

div.paging {
	font-size: 9pt;
	margin:5px 0px;
}
div.paging a {
	color:#0099FF;
	text-transform: uppercase;
	text-decoration: none;
}
div.paging a:hover {
	color: #000000;
}
div.paging b {
	color:#900;
}



a.update, a.delete, a.add, a.view, a.back {
	font-size: 16px ; font-family: Arial, Helvetica, sans-serif;
	color:0099FF ; font-weight:bolder;
	padding-left:20px;
	text-decoration: none;
}
a.update {
	background:url(images/update.png) left center no-repeat;
}
a.delete {
	background:url(images/delete.png) left center no-repeat;
}
a.add {
	background:url(images/add.png) left center no-repeat;
}
a.view {
	background:url(images/view.png) left center no-repeat;
}
a.back {
	background:url(images/prev.gif) left center no-repeat;
}
a.update:hover, a.delete:hover, a.add:hover, a.view:hover {
	color:#000;
}

input.text {
	border:2px solid #aaa;
}

.error {
	background: #FBE6F2 none repeat scroll 0 0;
	border: 1px solid #D893A1;
	color: #333333;
	margin: 5px 0 0;
	padding: 5px;
	font-size: 10px;
	font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
}